@font-face {
    font-family: primary;
    src: url(https://cdn.utopia.pizza/editor/sample-assets/stretchpro.woff);
}

@font-face {
    font-family: primary-basic;
    src: url(https://cdn.utopia.pizza/editor/sample-assets/stretchpro-basic.woff);
}
 
.flame {
    
    width: 30px;
    height: 50px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    border-radius: 50%;
    animation: 1s infinite alternate flicker;
  }
  
@keyframes flicker {
    from {
      transform: skew(0deg, 20deg);
      opacity: 0.6;
    }
  
    to {
      transform: skew(0deg, -25deg);
      opacity: 0.8;
    }
}
